.box-shadow {
  box-shadow: 5px 5px #DF2073 !important;
}

.card-background {
  background: whitesmoke !important;
}

.card-text-align {
  text-align: center;
}

.btn-link {
  color: #DF2073 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
}

.liked {
  background-color: #DF2073 !important;
  cursor: not-allowed !important;
}

h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 25px !important;
}

.image-size {
  max-width: 220px !important;
}