.box-shadow {
  box-shadow: 5px 5px #DF2073 !important;
}

.card-background {
  background: whitesmoke !important;
}

h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px !important;
}

h6 {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: small !important;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: small;
}

Form {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

.input-margin {
  margin-bottom: 20px
}

Button {
  color: white !important;
}

.input-font {
  font-family: 'Courier Prime', monospace;
  font-size: 18px !important;
  border-color: black !important;
}

.input-background {
  background: whitesmoke !important;
}

.btn-secondary {
  font-family: 'Montserrat', sans-serif;
}