.btn-primary {
  background-color: #E64C8F !important;
  color: black !important;
  border-color: black !important
}

.btn-link {
  color: #DF2073 !important;
}

Form {
  margin-bottom: 30px;
}

#formUsername {
  margin-bottom: 30px;
}

#formPassword {
  margin-bottom: 30px;
}