h1 {
  color: #E64C8F !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 2em !important;
}

h6 {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: small !important;
}

.text {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
}

.greeting {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px !important;
}

