h1 {
  color: #E64C8F !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 2em !important;
}

h6 {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: small !important;
}

.text {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.greeting {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px !important;
  margin: none;
  padding: none;
}

