.box-shadow {
  box-shadow: 5px 5px #DF2073 !important;
}

.card-background {
  background: whitesmoke !important;
}

h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 28px !important;
}