h1 {
  color: #E64C8F !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: medium !important;
}

h6 {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: small !important;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: small;
}

.text {
  color: white !important;
}